html,
body {
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
}

.primary-bg-color {
  background-color: rgb(109, 207, 246);
}

.primary-color {
  color: rgb(109, 207, 246);
}

.secondary-color {
  color: rgba(255, 255, 255, 0.8);
}

button, .btn {
  color: black;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-style: solid;
  background-color: transparent;
  display: inline-block;
  padding: 25px 46px;
  font-family: Source Code Pro;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 25px;
  width: 196px;
}

button:hover, .btn:hover {
  background-color: black;
  color: white;
}


h1 {
  color: black;
  font-size: 60px;
  letter-spacing: 7px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;  
}

h2 {
  color: black;
  font-size: 54px;
  letter-spacing: 4px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
}

p {
  color: black;
  font-family: "Source Code Pro";
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 19.6px;
  text-align: left;
}

a {
  color: rgb(16, 169, 224);
  font-family: "Source Code Pro";
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
}

.timestamp {
  color: rgb(74, 90, 115);
  font-family: "Source Code Pro";
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 22.4px;
  opacity: 0.7;
  text-align: left;
  text-transform: uppercase;
}
